<!--부트스트랩은 제이쿼리가 꼭있어야만 작동하기 때문에 부트 스트랩보다 먼저 호출되도록한다.-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js (등록, 수정, 삭제 기능) 추가-->
<script src="/js/app/index.js"></script>

<!-- HTML은 위에서부터 코드가 실행되기 때문에 페이지 로딩 속도를 높이기 위해 css는 header부분에, js는 footer 부분에 배치한다.-->
</body>
</html>