{{>layout/header}}

<h1>조 추첨기</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록하러 가기</a>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영력 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>이름</th>
        </tr>
        </thead>
    </table>
</div>

{{>layout/footer}}